
  [role='tooltip'].popup-content {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    padding:5%;
    height: 80%;
    overflow-y: auto;
    margin-top: 2%;
  }

  [data-popup='tooltip'].popup-overlay {
    background: rgba(24, 8, 8, 0.445);
  }